
server/KocUniversityDemo/src/KUSYSDemo/Persistence/obj/Debug/net6.0/Persistence.csproj.AssemblyReference.cache
server/KocUniversityDemo/src/KUSYSDemo/API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Persistence.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Persistence.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Domain.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Application.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Application.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/API.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/API.dll
server/KocUniversityDemo/.vs/KocUniversityDemo/FileContentIndex/f993166b-8bfe-4949-ba4e-58ec34735160.vsidx
server/KocUniversityDemo/.vs/KocUniversityDemo/FileContentIndex/9ff55423-8764-4461-b9d7-8233333379c7.vsidx
server/KocUniversityDemo/.vs/KocUniversityDemo/FileContentIndex/7b4397b1-0825-4f96-a443-da9ea138d00b.vsidx
server/KocUniversityDemo/.vs/KocUniversityDemo/FileContentIndex/5aa55934-81e3-4024-b358-33d0749ee6b7.vsidx
server/KocUniversityDemo/src/KUSYSDemo/Persistence/obj/Debug/net6.0/Persistence.csproj.AssemblyReference.cache
server/KocUniversityDemo/src/KUSYSDemo/API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Persistence.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Persistence.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Domain.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Application.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/Application.dll
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/API.pdb
server/KocUniversityDemo/src/KUSYSDemo/API/bin/Debug/net6.0/API.dll
